.tile {
    /* border: 3px solid greenyellow; */
    background-color: rgba(0, 0, 0, 0);
    width: --grid_tile_size;
    height: --grid_tile_size;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.grid_container {
    /* border: 5px solid red; */
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(var(--grid_column_container_count), var(--grid_tile_size));
    grid-template-rows: repeat(var(--grid_row_container_count), var(--grid_tile_size));
    gap: 0px;
    /* TODO Make this a calculation so it works with resizing the tiles */
    width: 250px;
    height: 250px;
    box-sizing: border-box;
}

 .grid_control{
    /* border: 10px solid purple; */
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    gap: 0;
    box-sizing: border-box;
 }
