.tile {
    background-color: rgba(0, 0, 0, 0);
    /* If changing below make sure to update grid column/row sizes */
    width: 50px;
    height: 50px;
    border: 3px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.grid_container {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid red;
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 0px;
    box-sizing: border-box;
}
 .grid_control{
    background-color: rgba(0, 0, 0, 0);
    border: 10px solid purple;
    display: grid;
    gap: 0;
    box-sizing: border-box;
 }
 